.bg-img{
  background: url(https://i.pinimg.com/originals/8f/25/0f/8f250f5eca966f25e3b7109132c02904.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.sign-in{
  margin-top: 25vh;
  background-color: rgba(255,255,255,0.8);
  padding: 2rem;
}

.sign-in button{
  width: 100%;
  margin: 0.5rem 0;
}

.left{
  text-align: left !important;
}