html{
  background: url(https://i.pinimg.com/originals/8f/25/0f/8f250f5eca966f25e3b7109132c02904.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
