<nav class="navbar navbar-default">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#toggle-nav" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="#">TatooMX</a>
     </div>

     <div class="collapse navbar-collapse" id="toggle-nav">
       <ul class="nav navbar-nav navbar-right">
         <li> <a>Logged in as {{currentUser.name}}</a> </li>
         <li><a href="discover">Discover</a></li>
         <li><a href="artist">Artists</a></li>
         <li><a href="studio">Studios</a></li>
         <li><a href="profile">Profile</a></li>
         <li> <a (click)="sessionService.logout()" href="login"> Log Out <fa name="sign-out"></fa> </a> </li>
       </ul>
     </div>

   </div> <!-- close container div -->
 </nav> <!-- close navbar nav -->


 <div class="container">
   <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#both">Studio & Independent Artists</a></li>
    <li><a data-toggle="tab" href="#menu1">Studio Artist</a></li>
    <li><a data-toggle="tab" href="#menu2">Independent Artist</a></li>
  </ul>

  <div class="tab-content">
    <div id="both" class="tab-pane fade in active">
      <div class="form-group">
         <label for="search">Search for an artist:</label>
         <input type="text" class="form-control" id="search_both" [(ngModel)]="search_both" placeholder="Name">
         <div class="therow">
            <div *ngFor="let card of artists | searchfilter: 'name' : search_both" class="thecol-6">
                <div class="card">
                 <div class="card-block">
                   <h4 class="card-title">{{card.name}}</h4>
                   <div class="card-content">
                     <label>City</label>
                     <p>{{card.city}}</p>
                     <label>Phome</label>
                     <p>{{card.phone}}</p>
                     <div class="card-footer">
                       <div *ngIf="card.liked == true">
                        <button type="button" name="button" class="btn btn-primary pull-right" style="margin-left:10px;"><fa name="heart" (click)="disliked(card)"></fa></button>
                       </div>
                       <div *ngIf="card.liked == false">
                         <button type="button" name="button" class="btn btn-primary pull-right"><fa name="heart-o" (click)="liked(card)"></fa></button>
                       </div>
                     </div>
                     <a data-toggle="modal" data-target="#img_modal" class="btn btn-primary" (click)="loadImages(card.id)">View images</a>
                     </div>

                 </div>
               </div>
               <div id="info_modal" class="modal fade" role="dialog">
                 <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Information of {{card.name}}</h4>
                        </div>
                        <div class="modal-body">
                          <p>{{card.gender}}</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
               </div>
               <div id="img_modal" class="modal fade" role="dialog">
                 <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Images</h4>
                        </div>
                        <div class="modal-body">
                          <p class="text-muted">You can see the artist portfolio.</p>
                          <div class="therow">
                            <div *ngFor="let i of images" class="thecol-3">
                              <img src="{{images.imageblob}}" alt="img" class="img-responsive">
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
               </div>
            </div>
         </div>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <div class="form-group">
         <label for="search">Search for an artist:</label>
         <input type="text" class="form-control" id="search_studio" [(ngModel)]="search_studio" placeholder="Name">
      </div>
     <div class="therow">
        <div *ngFor="let card of studio | searchfilter: 'name' : search_studio" class="thecol-6">
          <div class="card">
           <div class="card-block">
             <h4 class="card-title">{{card.name}}</h4>
             <div class="card-content">
               <label>City</label>
               <p>{{card.city}}</p>
               <label>Phome</label>
               <p>{{card.phone}}</p>
               <div class="card-footer">
                 <div *ngIf="card.liked == true">
                  <button type="button" name="button" class="btn btn-primary pull-right" style="margin-left:10px;"><fa name="heart" (click)="disliked(card)"></fa></button>
                 </div>
                 <div *ngIf="card.liked == false">
                   <button type="button" name="button" class="btn btn-primary pull-right"><fa name="heart-o" (click)="liked(card)"></fa></button>
                 </div>
               </div>
               <a data-toggle="modal" data-target="#img_modal" class="btn btn-primary" (click)="loadImages(card.id)">View images</a>
               </div>

           </div>
         </div>
           <div id="info_modal" class="modal fade" role="dialog">
             <div class="modal-dialog">

               <!-- Modal content-->
               <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Information of {{card.name}}</h4>
                    </div>
                    <div class="modal-body">
                      <p>{{card.gender}}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
           </div>
           <div id="img_modal" class="modal fade" role="dialog">
             <div class="modal-dialog">

               <!-- Modal content-->
               <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Images of {{card.name}}</h4>
                    </div>
                    <div class="modal-body">
                      <p class="text-muted">You can see the artist portfolio.</p>
                      <div class="therow">
                        <div *ngFor="let i of images" class="thecol-3">
                          <img src="{{images.imageblob}}" alt="img" class="img-responsive">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
           </div>
        </div>
     </div>

    </div>
    <div id="menu2" class="tab-pane fade">
      <div class="form-group">
         <label for="search">Search for an artist:</label>
         <input type="text" class="form-control" id="search_inde" [(ngModel)]="search_inde" placeholder="Name">
         <div class="therow">
            <div *ngFor="let card of independent | searchfilter: 'name' : search_inde" class="thecol-6">
              <div class="card">
               <div class="card-block">
                 <h4 class="card-title">{{card.name}}</h4>
                 <div class="card-content">
                   <label>City</label>
                   <p>{{card.city}}</p>
                   <label>Phome</label>
                   <p>{{card.phone}}</p>
                   <div class="card-footer">
                     <div *ngIf="card.liked == true">
                      <button type="button" name="button" class="btn btn-primary pull-right" style="margin-right:10px;"><fa name="heart" (click)="disliked(card)"></fa></button>
                     </div>
                     <div *ngIf="card.liked == false">
                       <button type="button" name="button" class="btn btn-primary pull-right"><fa name="heart-o" (click)="liked(card)"></fa></button>
                     </div>
                   </div>
                   <a data-toggle="modal" data-target="#img_modal" class="btn btn-primary" (click)="loadImages(card.id)">View images</a>
                   </div>

               </div>
             </div>
               <div id="info_modal" class="modal fade" role="dialog">
                 <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Information of {{card.name}}</h4>
                        </div>
                        <div class="modal-body">
                          <p>{{card.gender}}</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
               </div>
               <div id="img_modal" class="modal fade" role="dialog">
                 <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Images of {{card.name}}</h4>
                        </div>
                        <div class="modal-body">
                          <p class="text-muted">You can see the artist portfolio.</p>
                          <div class="therow">
                            <div *ngFor="let i of images" class="thecol-3">
                              <img src="{{images.imageblob}}" alt="img" class="img-responsive">
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
               </div>
            </div>
         </div>
      </div>
    </div>
  </div>


</div>
