.nav-tabs > li {
  width: 33.3333%;
  text-align: center;
}

.card {
  border: 1px rgb(106, 99, 100) solid;
  padding: 10px;
  margin-bottom: 2rem;
}

.modal-body p{
  border-bottom: 1px grey solid;
}

.pull-right {
  float:left!important;
}
